*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    /* flex-wrap: wrap; */
}
.container{
    margin: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
}
.loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.loader1{
    border: 8px solid transparent;
    border-top: 8px solid #17c6dd;
    animation: spin 1s linear infinite;
}
.loader2{
    border: 8px solid #f44336;
    border-top: 8px solid transparent;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader2-inner{
    width: 80%;
    height: 80%;
    border: 4px solid transparent;
    border-bottom: 4px solid #f44336;
    border-radius: 50%;
    animation: reverse-spin 1s ease-in-out infinite;
}
.loader3{
    display: flex;
    justify-content: space-between;
}
.loader3::before,
.loader3::after{
    content: "";
    background-color: #17c6dd;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: blink 1s ease-in-out infinite;
}
.loader3::after{
    animation-delay: 0.5s;
}

.loader4{
    display: flex;
    justify-content: space-between;
}
.loader4::before,
.loader4::after{
    content: "";
    background-color: #f44336;
    width: 8px;
    height: 30px;
    border-radius: 4px;
    animation: strech 1s ease-in-out infinite;
}


.loader5{
    display: flex;
    justify-content: space-between;
}
.loader5 .div,
.loader5::before,
.loader5::after{
    content: "";
    background: aquamarine;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    animation: chain-effect 1.2s ease-in-out infinite;
}
.loader5::after{
    animation-delay: 0.24s;
}
.loader5 .div{
    animation-delay: 0.12s;
}

.loader6{
    height: 30px;
    border-radius: 50%;
    width: 30px;
    background-color: #6d88d1;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 0%;
        height: 0%;
        background: #17c6dd;
        border-radius: 50%;
        animation: filler 2s ease-in-out infinite;
        
    }
}
.loader7{
    width: 50px;
    height: 50px;
    border: 6px solid #f44336;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-radius: 50%;
    animation: breather 2s ease-in-out infinite;
}

.bouncer{
    /* width: 15px;
    height: 30px; */
    background-color: aquamarine;
    animation: bounce 2s ease-in-out infinite;
    border-radius: 50%;
}

.loader9{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .vertical{
        border-top: 4px solid #17c6dd;
        border-bottom: 4px solid #17c6dd;
        height: 40px;
        width: 8px;
        position: absolute;
        animation: loader-spinvertical 2s ease-in infinite;
    }
    .horizontal{
        border-left: 4px solid #17c6dd;
        border-right: 4px solid #17c6dd;
        height: 8px;
        width: 40px;
        position: absolute;
        animation: loader-spinhorizontal 2s ease-in infinite;
    }
}

.loader10{
    height: 50px;
    width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    .tower{
        display: flex;
        align-items: flex-end;/* <- added so bars grow upward instead of inverted */
        .sig1, .sig2, .sig3, .sig4{
            width: 8px;
            height: 40px; /* max height */
            /* background-color: #f44336; */
            margin: 0 2px;
        }
        .sig1{
            background-color: none;
            border-bottom: 1px solid #f44336;
        }
        .sig2{
            animation: cell-tower2 2s ease-in-out infinite;
        }
        .sig3{
            animation: cell-tower3 2s ease-in-out infinite;
        }
        .sig4{
            animation: cell-tower4 2s ease-in-out infinite;
        }
    }
}


/* animation keyframes */

@keyframes cell-tower4{
    0%,100%{
        height: 1px;
        background-color: #f44336;
    }
    50%{
        height: 40px;
        background-color: #6d88d1;
    }
}
@keyframes cell-tower3{
    0%,100%{
        height: 1px;
        background-color: #f44336;
    }
    50%{
        height: 25px;
        background-color: #6d88d1;
    }
}
@keyframes cell-tower2{
    0%,100%{
        height: 1px;
        background-color: #f44336;
    }
    50%{
        height: 15px;
        background-color: #6d88d1;
    }
}

@keyframes loader-spinvertical{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        border-color: #6d88d1;
    }
    100%{
        transform: rotateX(360deg);
        border-color: #f44336;
    }
}
@keyframes loader-spinhorizontal{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        border-color: #6d88d1;
    }
    100%{
        transform: rotateY(360deg);
        border-color: #f44336;
    }
}

@keyframes bounce{
    0%,100%{
        height: 30px;
        width: 39px;
        transform: translateY(0);
    }
    50%{
        transform: translateY(-80px);
        width: 22px;
        height: 35px;
    }
}

@keyframes breather{
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

@keyframes filler{
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: 0%;
        height: 0%;
    }
}
@keyframes chain-effect{
    0%,100%{
        transform: scale(0);
    }
    50%,80%{
        transform: scale(1);
    }
}
@keyframes strech{
    0%,100%,80%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1.5);
    }
}
    

@keyframes blink {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    
}
@keyframes reverse-spin {
    0%{
        transform: rotate(0deg);
    }
    /* 50%{
        transform: rotate(180deg);
    } */
    100%{
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media  (max-width:950px){
    .container{
        flex-direction: column;
        gap: 85px;
    }
}