*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.loader1{
    border: 8px solid transparent;
    border-top: 8px solid #17c6dd;
    animation: spin 1s linear infinite;
}
.loader2{
    border: 8px solid #f44336;
    border-top: 8px solid transparent;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader2-inner{
    width: 80%;
    height: 80%;
    border: 4px solid transparent;
    border-bottom: 4px solid #f44336;
    border-radius: 50%;
    animation: reverse-spin 1s ease-in-out infinite;
}
.loader3{
    display: flex;
    justify-content: space-between;
}
.loader3::before,
.loader3::after{
    content: "";
    background-color: #17c6dd;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: blink 1s ease-in-out infinite;
}
.loader3::after{
    animation-delay: 0.5s;
}

.loader4{
    display: flex;
    justify-content: space-between;
}
.loader4::before,
.loader4::after{
    content: "";
    background-color: #f44336;
    width: 8px;
    height: 30px;
    border-radius: 4px;
    animation: strech 1s ease-in-out infinite;
}


.loader5{
    display: flex;
    justify-content: space-between;
}
.loader5 .div,
.loader5::before,
.loader5::after{
    content: "";
    background: aquamarine;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    animation: chain-effect 1.2s ease-in-out infinite;
}
.loader5::after{
    animation-delay: 0.24s;
}
.loader5 .div{
    animation-delay: 0.12s;
}

.loader6{
    height: 30px;
    border-radius: 50%;
    width: 30px;
    background-color: #6d88d1;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 0%;
        height: 0%;
        background: #17c6dd;
        border-radius: 50%;
        animation: filler 2s ease-in-out infinite;
        
    }
}
.loader7{
    width: 50px;
    height: 50px;
    border: 6px solid #f44336;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-radius: 50%;
    animation: breather 2s ease-in-out infinite;
}


/* animation keyframes */

@keyframes breather{
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

@keyframes filler{
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: 0%;
        height: 0%;
    }
}
@keyframes chain-effect{
    0%,100%{
        transform: scale(0);
    }
    50%,80%{
        transform: scale(1);
    }
}
@keyframes strech{
    0%,100%,80%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1.5);
    }
}
    

@keyframes blink {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    
}
@keyframes reverse-spin {
    0%{
        transform: rotate(0deg);
    }
    /* 50%{
        transform: rotate(180deg);
    } */
    100%{
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}